<mat-toolbar>
    <span>{{taskService.formGroup.controls['$key'].value? "Modify Task" : "New Task" }}</span>
    <button class="btn-dialog-close " mat-stroked-button (click)="onClose()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="taskService.formGroup" class="m-5">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-title>
            <div class="controls-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input type="text" formControlName="title" matInput placeholder="Add Title *">
                    <mat-error>Title field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <!-- <input type="text" formControlName="state" matInput placeholder="Add State *"> -->
                    <mat-select formControlName="state" matInput placeholder="Select State *" >
                    <mat-option>None</mat-option>
                    <ng-container *ngFor="let state of taskService.states">
                     <mat-option value="{{state.$key}}"> {{state.name}}</mat-option>
                    </ng-container>
                    </mat-select>
                    <mat-error>State field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" formControlName="description" matInput placeholder="Add Description *">
                    <mat-error>Description field is mandatory.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="myDatepicker" formControlName="date"
                        placeholder="Add Scheduled Date">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                    <mat-error>Date field is mandatory.</mat-error>
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
                        [disabled]="taskService.formGroup.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-title>
    </mat-grid-list>
</form>