.controls-container{
    width: 100%;
    padding: 5%;
}

.controls-container > *{
    width: 100%;
}

.button-row button{
    margin: 5px;
}

.btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
    right: -850px;
}