/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

snack-bar-container.success{
    background-color: #5cb85c;
    color: white;
}

snack-bar-container.warn{
    background-color: red;
    color: white;
}
snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;

}
